 *{
    padding:0;
    margin:0;
 }
   .navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: black;
    height:60px;
}

.navlinks{
    display:flex;
    gap:20px;
    padding-right:30rem;
}

.logo h1{
    color:white;
}

.link{
    color:white;
    text-decoration: none;
    padding-right: 15px;
}
