*{
    margin:0;
    padding:0;
}

      .product grid{
  	max-width:300px; 
	min-width: 200px;
	border: 1px solid #ddd;
	padding:1rem;
	text-align: center;
	margin-top:70px;
	margin-left:50rem;
}

 .navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: black;
    height:60px;
}

.navlinks{
    display:flex;
    gap:20px;
    padding-right:30rem;
}

.logo h1{
    color:white;
}

.link{
    color:white;
    text-decoration: none;
    padding-right: 15px;
}

.container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:10px;
    padding:40px;
    justify-items: center;
    
}

.bigcard{
    grid-column: 1/4;
    padding-bottom: 20px;
    flex:1 1 30% Grow,shrink,basis ;
	min-height:400px;
	min-width:850px;
	border:1px solid #ddd;
}

.smallcard1{
    flex:1 1 30% Grow,shrink,basis ;
	min-height:200px;
	min-width:300px;
	border:1px solid #ddd;
}

.smallcard2{
    flex:1 1 30% Grow,shrink,basis ;
	min-height:200px;
	min-width:300px;
	border:1px solid #ddd;
}

.smallcard3{
    flex:1 1 30% Grow,shrink,basis ;
	min-height:200px;
	min-width:300px;
	border:1px solid #ddd;
}

.profile{
    align-items: center;
  justify-items: center;

}

.container2{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:16rem;
    padding-left:100px;
}

.mediumcard{
    flex:1 1 30% Grow,shrink,basis ;
	min-height:300px;
	min-width:600px;
	border:1px solid #ddd;
}


.container3{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:8rem;
    padding-bottom: 20px;
}

.card1{
    margin-top:3rem;
      flex:1 1 30% Grow,shrink,basis ;
	min-height:200px;
	min-width:800px;
	border:1px solid #ddd;
}

.container4{
     display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:3rem;
}

.hero{
    background-color:black;
  margin-top: 42px;                   
  height: 50px;      
  width: 85rem; 
  display: flex;
  flex-direction: column;
}

.container5{
     background-color: darkgray; 
  margin: 0;                   
  height: 300px;      
  width:86rem;
  position: relative;
  top:50rem;
  margin-left:-89rem; 
  display: flex;
  flex-direction: column;
}
 
.dark{
    color:white;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top:90px;
}


