

.box{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color:brown;
    width:200px;
    height:200px;
    text-align:center;
    border-radius: 18px;
}

@media (max-width:600px){
   
    .box{
    background-color:green;
    width:200px;
    height:200px;
   border-radius: 18px;
    }
}
    
